# Datasets
[datasets kaggle link](https://www.kaggle.com/datasets/thedevastator/uncovering-factors-that-affect-used-car-prices)

In [32]:
df2 = pd.read_csv("G:/Data science/DS_ML_Project/datasets/autos.csv")

In [33]:
df2.head()

,index,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,...,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,0,2016-03-24 11:52:17,Golf_3_1.6,privat,Angebot,480,test,NaN,1993,manuell,...,golf,150000,0,benzin,volkswagen,NaN,2016-03-24 00:00:00,0,70435,2016-04-07 03:16:57
1,1,2016-03-24 10:58:45,A5_Sportback_2.7_Tdi,privat,Angebot,18300,test,coupe,2011,manuell,...,NaN,125000,5,diesel,audi,ja,2016-03-24 00:00:00,0,66954,2016-04-07 01:46:50
2,2,2016-03-14 12:52:21,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800,test,suv,2004,automatik,...,grand,125000,8,diesel,jeep,NaN,2016-03-14 00:00:00,0,90480,2016-04-05 12:47:46
3,3,2016-03-17 16:54:04,GOLF_4_1_4__3TÜRER,privat,Angebot,1500,test,kleinwagen,2001,manuell,...,golf,150000,6,benzin,volkswagen,nein,2016-03-17 00:00:00,0,91074,2016-03-17 17:40:17
4,4,2016-03-31 17:25:20,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,test,kleinwagen,2008,manuell,...,fabia,90000,7,diesel,skoda,nein,2016-03-31 00:00:00,0,60437,2016-04-06 10:17:21

In [35]:
df2.shape

(371528, 21)

In [36]:
df2.columns

Index(['index', 'dateCrawled', 'name', 'seller', 'offerType', 'price',
       'abtest', 'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS',
       'model', 'kilometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')

In [38]:
df2.isna().sum()

index                      0
dateCrawled                0
name                       0
seller                     0
offerType                  0
price                      0
abtest                     0
vehicleType            37869
yearOfRegistration         0
gearbox                20209
powerPS                    0
model                  20484
kilometer                  0
monthOfRegistration        0
fuelType               33386
brand                      0
notRepairedDamage      72060
dateCreated                0
nrOfPictures               0
postalCode                 0
lastSeen                   0
dtype: int64

In [39]:
df2.isna().sum() / len(df2)

index                  0.000000
dateCrawled            0.000000
name                   0.000000
seller                 0.000000
offerType              0.000000
price                  0.000000
abtest                 0.000000
vehicleType            0.101928
yearOfRegistration     0.000000
gearbox                0.054394
powerPS                0.000000
model                  0.055134
kilometer              0.000000
monthOfRegistration    0.000000
fuelType               0.089861
brand                  0.000000
notRepairedDamage      0.193956
dateCreated            0.000000
nrOfPictures           0.000000
postalCode             0.000000
lastSeen               0.000000
dtype: float64

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5442000 entries, 0 to 5441999
Data columns (total 27 columns):
 #   Column               Dtype
---  ------               -----
 0   Unnamed: 0           int64
 1   state_code           int64
 2   county_code          int64
 3   site_number          int64
 4   latitude             float64
 5   longitude            float64
 6   parameter            object
 7   sample_duration      object
 8   pollutant_standard   object
 9   date_local           object
 10  units_of_measure     object
 11  event_type           object
 12  observation_count    int64
 13  observation_percent  float64
 14  validity_indicator   object
 15  arithmetic_mean      float64
 16  first_max_value      float64
 17  first_max_hour       int64
 18  aqi                  float64
 19  method               object
 20  local_site_name      object
 21  site_address         object
 22  state                object
 23  county               object
 24  city                 object
 25  date_of_last_change  object
 26  year                 int64
dtypes: float64(6), int64(7), object(14)
memory usage: 1.1+ GB